In [114]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

In [141]:
Medicare_Provider_DF = pd.read_csv('c:/Users/t_d_o/Documents/healthcare-bluebook-orange-team/data/Medicare_Provider_Util_Payment_PUF_CY2017.txt', sep='\t', usecols = lambda column : column not in ['average_submitted_chrg_amt', 'average_Medicare_payment_amt', 'average_Medicare_standard_amt', 'nppes_provider_street2'], dtype={'nppes_provider_zip': 'str'})

In [142]:
Medicare_Provider_DF = Medicare_Provider_DF.drop(Medicare_Provider_DF.index[0])

In [143]:
Medicare_Provider_DF.dtypes

npi                                   int64
nppes_provider_last_org_name         object
nppes_provider_first_name            object
nppes_provider_mi                    object
nppes_credentials                    object
nppes_provider_gender                object
nppes_entity_code                    object
nppes_provider_street1               object
nppes_provider_city                  object
nppes_provider_zip                   object
nppes_provider_state                 object
nppes_provider_country               object
provider_type                        object
medicare_participation_indicator     object
place_of_service                     object
hcpcs_code                           object
hcpcs_description                    object
hcpcs_drug_indicator                 object
line_srvc_cnt                       float64
bene_unique_cnt                     float64
bene_day_srvc_cnt                   float64
average_Medicare_allowed_amt        float64
dtype: object

In [144]:
Medicare_Provider_DF = Medicare_Provider_DF.rename(columns={'nppes_provider_city': 'city', 'nppes_provider_zip': 'zip', 'nppes_provider_state': 'state', 'nppes_provider_country': 'country'})

In [145]:
pd.options.display.max_columns = 25

In [146]:
Medicare_Provider_DF.dtypes

npi                                   int64
nppes_provider_last_org_name         object
nppes_provider_first_name            object
nppes_provider_mi                    object
nppes_credentials                    object
nppes_provider_gender                object
nppes_entity_code                    object
nppes_provider_street1               object
city                                 object
zip                                  object
state                                object
country                              object
provider_type                        object
medicare_participation_indicator     object
place_of_service                     object
hcpcs_code                           object
hcpcs_description                    object
hcpcs_drug_indicator                 object
line_srvc_cnt                       float64
bene_unique_cnt                     float64
bene_day_srvc_cnt                   float64
average_Medicare_allowed_amt        float64
dtype: object

In [147]:
Medicare_Provider_DF = Medicare_Provider_DF[Medicare_Provider_DF.country == 'US']
Medicare_Provider_DF.head(n=5)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,city,zip,state,country,provider_type,medicare_participation_indicator,place_of_service,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99217,Hospital observation care discharge,N,100.0,96.0,100.0,73.398800
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99218,Hospital observation care typically 30 minutes,N,26.0,25.0,26.0,100.080000
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99219,Hospital observation care typically 50 minutes,N,52.0,51.0,52.0,136.380000
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99220,Hospital observation care typically 70 minutes...,N,59.0,59.0,59.0,190.363729
5,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99221,"Initial hospital inpatient care, typically 30 ...",N,16.0,16.0,16.0,101.680000

In [127]:
Medicare_Provider_DF['zip'] = Medicare_Provider_DF['zip'].str[:5]

In [130]:
Medicare_Provider_DF.head(n=3)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,city,zip,state,country,provider_type,medicare_participation_indicator,place_of_service,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,21502,MD,US,Internal Medicine,Y,F,99217,Hospital observation care discharge,N,100.0,96.0,100.0,73.3988
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,21502,MD,US,Internal Medicine,Y,F,99218,Hospital observation care typically 30 minutes,N,26.0,25.0,26.0,100.0800
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,21502,MD,US,Internal Medicine,Y,F,99219,Hospital observation care typically 50 minutes,N,52.0,51.0,52.0,136.3800

In [131]:
Medicare_Provider_DF.tail(n=3)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,city,zip,state,country,provider_type,medicare_participation_indicator,place_of_service,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt
9847441,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,23116,VA,US,Internal Medicine,Y,F,99232,"Subsequent hospital inpatient care, typically ...",N,101.0,57.0,101.0,72.48
9847442,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,23116,VA,US,Internal Medicine,Y,F,99233,"Subsequent hospital inpatient care, typically ...",N,102.0,55.0,102.0,104.76
9847443,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,23116,VA,US,Internal Medicine,Y,F,99239,"Hospital discharge day management, more than 3...",N,49.0,49.0,49.0,107.98

# Hospital Charge

In [148]:
Provider_Outpatient_Hospital_Charge_DF = pd.read_csv('c:/Users/t_d_o/Documents/healthcare-bluebook-orange-team/data/Provider_Outpatient_Hospital_Charge_Data_by_APC__CY2017.csv')

In [135]:
Provider_Outpatient_Hospital_Charge_DF.head(n=3)

,Provider_ID,Provider_Name,Provider_Street_Address,Provider_City,Provider_State,Provider_Zip_Code,Provider_HRR,APC,APC_Desc,Beneficiaries,CAPC_Services,Average_Total_Submitted_Charges,Average_Medicare_Allowed_Amount,Average_Medicare_Payment_Amount,Outlier_Services,Average_Medicare_Outlier_Amount
0,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,249.0,259,9575.01,1038.45,826.28,NaN,NaN
1,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,52.0,53,12578.28,1792.60,1423.25,NaN,NaN
2,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5091,Level 1 Breast/Lymphatic Surgery and Related P...,26.0,27,11337.61,2113.58,1683.99,0.0,0.0

In [136]:
Provider_Outpatient_Hospital_Charge_DF.tail(n=3)

,Provider_ID,Provider_Name,Provider_Street_Address,Provider_City,Provider_State,Provider_Zip_Code,Provider_HRR,APC,APC_Desc,Beneficiaries,CAPC_Services,Average_Total_Submitted_Charges,Average_Medicare_Allowed_Amount,Average_Medicare_Payment_Amount,Outlier_Services,Average_Medicare_Outlier_Amount
61776,670122,Houston Methodist The Woodlands Hospital,17201 Interstate 45 South,The Woodlands,TX,77385,TX - Houston,5375,Level 5 Urology and Related Services,20.0,21,35109.68,3356.89,2674.59,NaN,NaN
61777,670122,Houston Methodist The Woodlands Hospital,17201 Interstate 45 South,The Woodlands,TX,77385,TX - Houston,5431,Level 1 Nerve Procedures,NaN,12,25194.96,1506.38,1200.20,NaN,NaN
61778,670122,Houston Methodist The Woodlands Hospital,17201 Interstate 45 South,The Woodlands,TX,77385,TX - Houston,8011,Comprehensive Observation Services,156.0,165,26580.47,2141.54,1706.27,40.0,1705.11

In [137]:
Provider_Outpatient_Hospital_Charge_DF.dtypes

Provider_ID                          int64
Provider_Name                       object
Provider_Street_Address             object
Provider_City                       object
Provider_State                      object
Provider_Zip_Code                    int64
Provider_HRR                        object
APC                                  int64
APC_Desc                            object
Beneficiaries                      float64
CAPC_Services                        int64
Average_Total_Submitted_Charges    float64
Average_Medicare_Allowed_Amount    float64
Average_Medicare_Payment_Amount    float64
Outlier_Services                   float64
Average_Medicare_Outlier_Amount    float64
dtype: object

In [139]:
Provider_Outpatient_Hospital_Charge_DF['Provider_Zip_Code'] = pd.to_numeric(Provider_Outpatient_Hospital_Charge_DF['Provider_Zip_Code'])
Provider_Outpatient_Hospital_Charge_DF['Provider_Zip_Code'] = Provider_Outpatient_Hospital_Charge_DF['Provider_Zip_Code'].apply(lambda x: '{0:0>5}'.format(x))

In [150]:
CBSA_ZIP = pd.read_excel('c:/Users/t_d_o/Documents/healthcare-bluebook-orange-team/data/CBSA_DIV_ZIP_032020.xlsx', usecols = lambda column : column not in ['RES_RATIO', 'BUS_RATIO', 'OTH_RATIO', 'TOT_RATIO'])
CBSA_ZIP

      CBSA_DIV    ZIP
0        11244  92833
1        11244  92735
2        11244  92610
3        11244  92609
4        11244  92605
...        ...    ...
5380     48864  19730
5381     48864  19896
5382     48864  19805
5383     48864  19713
5384     48864  19712

[5385 rows x 2 columns]

In [55]:
2020_january_web_addendum_b_df = pd.read_excel('../data/January 2020 Addendum B CORRECTION.02042020.xlsx', header = 2)
2020_january_web_addendum_b_df

SyntaxError: invalid token (<ipython-input-55-a83a4b93092e>, line 1)