In [1]:
import pandas as pd

In [20]:
CBSA_ZIP_032020 = pd.read_excel('CBSA_ZIP_032020.xlsx')

In [19]:
CBSA_ZIP_032020.head()

    CBSA    ZIP  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  10100  57445   0.044115   0.016156   0.037037   0.041101
1  10100  57456   0.000046   0.000000   0.000000   0.000039
2  10100  57441   0.014690   0.003401   0.000639   0.012785
3  10100  57474   0.005792   0.003401   0.001277   0.005295
4  10100  57401   0.751576   0.788265   0.933589   0.766139

In [22]:
MUP_OHP_R19_P04_V10_D17_APC_Provider = pd.read_excel('MUP_OHP_R19_P04_V10_D17_APC_Provider.xlsx',header=5)

In [21]:
MUP_OHP_R19_P04_V10_D17_APC_Provider.head()

,Provider ID,Provider Name,Provider Street Address,Provider City,Provider\nState,Provider\nZip Code,Provider\nHospital Referral Region\n(HRR),APC,APC\nDescription,Beneficiaries,Comprehensive APC\nServices,Average\nEstimated\nTotal\nSubmitted\nCharges,Average\nMedicare\nAllowed\nAmount,Average\nMedicare\nPayment\nAmount,Outlier\nComprehensive\nAPC\nServices,Average\nMedicare\nOutlier\nAmount
0,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,249.0,259,9575.005714,1038.454672,826.277954,NaN,NaN
1,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,52.0,53,12578.280189,1792.596792,1423.246792,NaN,NaN
2,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5091,Level 1 Breast/Lymphatic Surgery and Related P...,26.0,27,11337.608889,2113.580000,1683.990000,0.0,0.0
3,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5092,Level 2 Breast/Lymphatic Surgery and Related P...,23.0,23,17116.158261,3737.140000,2977.550000,0.0,0.0
4,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5112,Level 2 Musculoskeletal Procedures,17.0,17,7382.732353,1029.460000,820.210000,0.0,0.0

In [15]:
january_web_addendum_b = pd.read_excel('2020_january_web_addendum_b.12312019.xlsx', header = 2)

In [25]:
january_web_addendum_b.head()

,HCPCS Code,Short Descriptor,SI,APC,Relative Weight,Payment Rate,National Unadjusted Copayment,Minimum Unadjusted Copayment,"Note: Actual copayments would be lower due to the cap on copayments at the Inpatient Deductible of $1,408.00",* Indicates a Change
0,00100,Anesth salivary gland,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00102,Anesth repair of cleft lip,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00103,Anesth blepharoplasty,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00104,Anesth electroshock,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00120,Anesth ear surgery,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
Medicare_Provider_DF = pd.read_csv('Medicare_Provider_Util_Payment_PUF_CY2017.txt', sep='\t')

In [10]:
Medicare_Provider_DF = Medicare_Provider_DF.drop(Medicare_Provider_DF.index[0])

In [11]:
Medicare_Provider_DF.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,Hospital observation care typically 30 minutes,N,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,Hospital observation care typically 70 minutes...,N,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763
5,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99221,"Initial hospital inpatient care, typically 30 ...",N,16.0,16.0,16.0,101.680000,462.812500,79.710000,80.750000